<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MARKET.Properties.Settings.DB_MARKETConnectionString"
            connectionString="Data Source=DESKTOP-HLB250B\SQLEXPRESS;Initial Catalog=DB_MARKET;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>